<tr>
    <td>{{ comment.id }}</td>
    <td>{{ comment.user.name }}</td>
    <td>{{ comment.user.password }}</td>
    <td>{{ comment.text }}</td>
    <td>{{ comment.date.date }}</td>
    <td>{{ comment.parent }}</td>
</tr>