{% macro list(comments, step = 0) %}
    {% import _self as tree %}

    {% for comment in comments %}
        <div class="panel panel-primary" style="margin-left: {{25*step}}px">
            <div class="panel-heading">
                <table width="100%">
                    <tr>
                        <td align="left">{{ comment['data'].user.name }}
                            {% if step == 0 %}
                                написав:
                            {% else  %}
                                вівповів:
                            {% endif %}
                        </td>
                        <td align="right">
                            {{ (comment['data'].date.date | date('Y-m-d H:i:s')) }}
                        </td>
                    </tr>
                </table>
                {#<h3 class="panel-title">{{ comment['data'].user.name }}#}
                        {#{% if step == 0 %}#}
                            {#написав:#}
                        {#{% else  %}#}
                            {#вівповів:#}
                        {#{% endif %}#}
                        {#<p align="right"> {{ (comment['data'].date.date | date('Y-m-d H:i:s')) }}</p>#}
                </h3>
            </div>
            <div class="panel-body">
                {{ comment['data'].text }}
            </div>
            <div class="panel-heading">
                <a href="{{ path('comment_rating',{id: comment['data'].id , rating: 'l'}) }}">
                    <span class="glyphicon glyphicon-thumbs-up btn btn-success">{{ comment['data'].countLike }}</span>
                </a>
                <a href="{{ path('comment_rating',{id: comment['data'].id , rating: 'd'}) }}">
                    <span class="glyphicon glyphicon-thumbs-down btn btn-danger">{{ comment['data'].countDislike }}</span>
                </a>

            </div>
        </div>
        {#{{ dump(25*step)  }}#}

        {#{{ step }} {{ dump(comment['data'].text) }}#}
        {{ tree.list(comment['child'], step + 1) }}
    {% endfor %}

{% endmacro %}
