{% extends 'AppBundle::default_layout.html.twig' %}
{% import '@App/News/comment.html.twig' as tree %}
{% block body %}

    <h1>One news page</h1>
    <h2>{{ news.title }}</h2>
    <p>{{ news.content }}</p>
    <img src="{{ news.img }}" width="500" height="500" alt=""><br>
    {% for key, tag in news.tag %}
        <a href="{{ path('news_by_tag', {name: tag.name} )}}" class="btn btn-default">{{ tag.name }}</a>
    {% endfor %}



    {#{{ dump(app.user) }}#}
    {#{{ dump(is_granted('ROLE_USER')) }}#}
    <br>
    {% if not (is_granted('ROLE_USER')) %}
        <a href="{{ path('login') }}">Ввійдіть, щоб додати коментар</a>
    {% else %}
        {{ form(formAddComment) }}
        {#{{ (form(formAddCommentAnswer)) }}#}
        <hr>
        {{ form(formAddComment) }}
    {% endif %}
    {{ form(formAddCommentAnswer) }}
    
    {{ tree.list(comments) }}

{% endblock %}
