{% extends 'AppBundle::default_layout.html.twig' %}

{% block body %}
    {% for comment in comments %}
        {% if comment.visible == true %}
            <div class="panel panel-primary">
        {% else %}
            <div class="panel panel-danger">
        {% endif %}
            <div class="panel-heading">
                <table width="100%">
                    <tr>
                        <td align="left">{{ comment.user.name }}
                            {% if comment.parent == null %}
                                написав:
                            {% else  %}
                                вівповів:
                            {% endif %}
                        </td>
                        <td align="right">
                            {{ (comment.date | date('Y-m-d H:i:s')) }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                {{ comment.text }}
            </div>
            <div class="panel-heading">
                <a href="{{ path('news_show_one', {id: comment.news.id }) }}">
                    <span class="glyphicon glyphicon-thumbs-up btn btn-default"></span>
                </a>
                <a href="{{ path('comment_rating', {id: comment.id , rating: 'l'}) }} ">
                    <span class="glyphicon glyphicon-thumbs-down btn btn-success">{{ comment.countLike }}</span>
                </a>
                <a href="{{ path('comment_rating', {id: comment.id , rating: 'd'}) }} ">
                    <span class="glyphicon glyphicon-thumbs-down btn btn-danger">{{ comment.countDislike }}</span>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

